body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4828 {
  position:absolute;
  left:366px;
  top:137px;
}
#u4828_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4828_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4829_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:645px;
  height:603px;
}
#u4829 {
  position:absolute;
  left:1px;
  top:0px;
  width:635px;
  height:593px;
  color:#FFFFFF;
  text-align:left;
}
#u4830 {
  position:absolute;
  left:2px;
  top:288px;
  width:631px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4831_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:645px;
  height:55px;
}
#u4831 {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:45px;
  color:#FFFFFF;
  text-align:left;
}
#u4832 {
  position:absolute;
  left:2px;
  top:14px;
  width:631px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4833_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u4833 {
  position:absolute;
  left:72px;
  top:12px;
  width:77px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4834 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u4835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:35px;
}
#u4835 {
  position:absolute;
  left:192px;
  top:529px;
  width:253px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u4835_img.mouseDown {
}
#u4835.mouseDown {
}
#u4835_img.disabled {
}
#u4835.disabled {
}
#u4836 {
  position:absolute;
  left:2px;
  top:10px;
  width:249px;
  word-wrap:break-word;
}
#u4837_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:273px;
  height:43px;
}
#u4837 {
  position:absolute;
  left:209px;
  top:96px;
  width:263px;
  height:33px;
}
#u4837_img.selected {
}
#u4837.selected {
}
#u4837_img.disabled {
}
#u4837.disabled {
}
#u4838 {
  position:absolute;
  left:2px;
  top:8px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4839 {
  position:absolute;
  left:215px;
  top:98px;
  width:251px;
  height:28px;
}
#u4839_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4839_input {
  color:#000000;
}
#u4839_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:257px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u4840 {
  position:absolute;
  left:128px;
  top:104px;
  width:71px;
  height:16px;
}
#u4841 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4842_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:273px;
  height:43px;
}
#u4842 {
  position:absolute;
  left:209px;
  top:149px;
  width:263px;
  height:33px;
}
#u4842_img.selected {
}
#u4842.selected {
}
#u4842_img.disabled {
}
#u4842.disabled {
}
#u4843 {
  position:absolute;
  left:2px;
  top:8px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4844 {
  position:absolute;
  left:215px;
  top:151px;
  width:251px;
  height:28px;
}
#u4844_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4844_input {
  color:#000000;
}
#u4844_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:257px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4845_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u4845 {
  position:absolute;
  left:128px;
  top:157px;
  width:57px;
  height:16px;
}
#u4846 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4847_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:273px;
  height:43px;
}
#u4847 {
  position:absolute;
  left:209px;
  top:200px;
  width:263px;
  height:33px;
}
#u4847_img.selected {
}
#u4847.selected {
}
#u4847_img.disabled {
}
#u4847.disabled {
}
#u4848 {
  position:absolute;
  left:2px;
  top:8px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4849 {
  position:absolute;
  left:215px;
  top:202px;
  width:251px;
  height:28px;
}
#u4849_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4849_input {
  color:#000000;
}
#u4849_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:257px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u4850 {
  position:absolute;
  left:128px;
  top:208px;
  width:71px;
  height:16px;
}
#u4851 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4852_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:201px;
  height:43px;
}
#u4852 {
  position:absolute;
  left:209px;
  top:252px;
  width:191px;
  height:33px;
}
#u4852_img.selected {
}
#u4852.selected {
}
#u4852_img.disabled {
}
#u4852.disabled {
}
#u4853 {
  position:absolute;
  left:2px;
  top:8px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4854 {
  position:absolute;
  left:213px;
  top:254px;
  width:182px;
  height:28px;
}
#u4854_input {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u4854_input {
  color:#000000;
}
#u4854_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:188px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u4855 {
  position:absolute;
  left:128px;
  top:260px;
  width:71px;
  height:16px;
}
#u4856 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u4857 {
  position:absolute;
  left:423px;
  top:260px;
  width:43px;
  height:16px;
}
#u4858 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u4859 {
  position:absolute;
  left:128px;
  top:308px;
  width:57px;
  height:16px;
}
#u4860 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4861 {
  position:absolute;
  left:209px;
  top:306px;
  width:101px;
  height:22px;
}
#u4861_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4861_input {
  color:#000000;
}
#u4861_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:107px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4861_input:disabled {
  color:grayText;
}
#u4862 {
  position:absolute;
  left:344px;
  top:306px;
  width:101px;
  height:22px;
}
#u4862_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4862_input {
  color:#000000;
}
#u4862_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:107px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4862_input:disabled {
  color:grayText;
}
#u4863_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u4863 {
  position:absolute;
  left:128px;
  top:347px;
  width:71px;
  height:16px;
}
#u4864 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4865 {
  position:absolute;
  left:209px;
  top:345px;
  width:101px;
  height:22px;
}
#u4865_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4865_input {
  color:#000000;
}
#u4865_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:107px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4865_input:disabled {
  color:grayText;
}
#u4866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u4866 {
  position:absolute;
  left:128px;
  top:387px;
  width:71px;
  height:16px;
}
#u4867 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4868 {
  position:absolute;
  left:209px;
  top:384px;
  width:101px;
  height:22px;
}
#u4868_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4868_input {
  color:#000000;
}
#u4868_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:107px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4868_input:disabled {
  color:grayText;
}
#u4869_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u4869 {
  position:absolute;
  left:128px;
  top:424px;
  width:71px;
  height:16px;
}
#u4870 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4871 {
  position:absolute;
  left:209px;
  top:420px;
  width:101px;
  height:22px;
}
#u4871_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4871_input {
  color:#000000;
}
#u4871_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:107px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4871_input:disabled {
  color:grayText;
}
#u4872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u4872 {
  position:absolute;
  left:128px;
  top:458px;
  width:71px;
  height:16px;
}
#u4873 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u4874 {
  position:absolute;
  left:209px;
  top:455px;
  width:101px;
  height:22px;
}
#u4874_input {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u4874_input {
  color:#000000;
}
#u4874_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:107px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4874_input:disabled {
  color:grayText;
}
#u4875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:596px;
  height:561px;
}
#u4875 {
  position:absolute;
  left:27px;
  top:609px;
  width:596px;
  height:561px;
}
#u4876 {
  position:absolute;
  left:2px;
  top:272px;
  width:592px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4828_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4828_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4877_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:645px;
  height:603px;
}
#u4877 {
  position:absolute;
  left:1px;
  top:0px;
  width:635px;
  height:593px;
  color:#FFFFFF;
  text-align:left;
}
#u4878 {
  position:absolute;
  left:2px;
  top:288px;
  width:631px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
}
#u4879 {
  position:absolute;
  left:293px;
  top:155px;
  width:96px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
}
#u4880 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u4881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u4881 {
  position:absolute;
  left:236px;
  top:145px;
  width:40px;
  height:40px;
}
#u4882 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
}
#u4883 {
  position:absolute;
  left:255px;
  top:219px;
  width:127px;
  height:16px;
}
#u4884 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u4885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:35px;
}
#u4885 {
  position:absolute;
  left:224px;
  top:279px;
  width:190px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u4885_img.mouseDown {
}
#u4885.mouseDown {
}
#u4885_img.disabled {
}
#u4885.disabled {
}
#u4886 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u4887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:82px;
}
#u4887 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:82px;
}
#u4888 {
  position:absolute;
  left:2px;
  top:33px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u4889 {
  position:absolute;
  left:258px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4890 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u4891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u4891 {
  position:absolute;
  left:371px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4892 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u4893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u4893 {
  position:absolute;
  left:484px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4894 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u4895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u4895 {
  position:absolute;
  left:597px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4896 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u4897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u4897 {
  position:absolute;
  left:710px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4898 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u4899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:45px;
}
#u4899 {
  position:absolute;
  left:0px;
  top:19px;
  width:208px;
  height:44px;
}
#u4900 {
  position:absolute;
  left:2px;
  top:14px;
  width:204px;
  word-wrap:break-word;
}
#u4901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u4901 {
  position:absolute;
  left:822px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4902 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u4903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u4903 {
  position:absolute;
  left:935px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4904 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u4905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u4905 {
  position:absolute;
  left:1048px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u4906 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u4907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u4907 {
  position:absolute;
  left:1204px;
  top:33px;
  width:141px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4908 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u4909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:45px;
}
#u4909 {
  position:absolute;
  left:0px;
  top:82px;
  width:1366px;
  height:45px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4910 {
  position:absolute;
  left:2px;
  top:14px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u4911 {
  position:absolute;
  left:380px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4912 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u4913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u4913 {
  position:absolute;
  left:494px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4914 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u4915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u4915 {
  position:absolute;
  left:423px;
  top:67px;
  width:27px;
  height:15px;
  font-size:18px;
  color:#FFFFFF;
}
#u4916 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u4917 {
  position:absolute;
  left:608px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4918 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u4919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u4919 {
  position:absolute;
  left:722px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4920 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
