body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1365px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:82px;
}
#u9641 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:82px;
}
#u9642 {
  position:absolute;
  left:2px;
  top:33px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u9643 {
  position:absolute;
  left:258px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9644 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u9645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u9645 {
  position:absolute;
  left:371px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9646 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u9647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u9647 {
  position:absolute;
  left:484px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9648 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u9649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u9649 {
  position:absolute;
  left:597px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9650 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u9651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u9651 {
  position:absolute;
  left:710px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9652 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u9653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:45px;
}
#u9653 {
  position:absolute;
  left:0px;
  top:19px;
  width:208px;
  height:44px;
}
#u9654 {
  position:absolute;
  left:2px;
  top:14px;
  width:204px;
  word-wrap:break-word;
}
#u9655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u9655 {
  position:absolute;
  left:822px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9656 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u9657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u9657 {
  position:absolute;
  left:935px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9658 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u9659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u9659 {
  position:absolute;
  left:1048px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9660 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u9661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u9661 {
  position:absolute;
  left:1204px;
  top:33px;
  width:141px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9662 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u9663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:114px;
}
#u9663 {
  position:absolute;
  left:-220px;
  top:301px;
  width:552px;
  height:114px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u9664 {
  position:absolute;
  left:2px;
  top:49px;
  width:548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u9665 {
  position:absolute;
  left:-1px;
  top:103px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9666 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u9667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u9667 {
  position:absolute;
  left:0px;
  top:143px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9668 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u9669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u9669 {
  position:absolute;
  left:0px;
  top:184px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9670 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u9671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u9671 {
  position:absolute;
  left:0px;
  top:264px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9672 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u9673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u9673 {
  position:absolute;
  left:0px;
  top:224px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9674 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u9675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u9675 {
  position:absolute;
  left:-1px;
  top:302px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9676 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u9677 {
  position:absolute;
  left:124px;
  top:92px;
  width:1242px;
  height:676px;
}
#u9677_input {
  position:absolute;
  left:0px;
  top:0px;
  width:1242px;
  height:676px;
}
#u9678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u9678 {
  position:absolute;
  left:0px;
  top:340px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9679 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
