body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:82px;
}
#u12152 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:82px;
}
#u12153 {
  position:absolute;
  left:2px;
  top:33px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u12154 {
  position:absolute;
  left:258px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12155 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u12156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u12156 {
  position:absolute;
  left:371px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12157 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u12158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u12158 {
  position:absolute;
  left:484px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12159 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u12160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u12160 {
  position:absolute;
  left:597px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12161 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u12162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u12162 {
  position:absolute;
  left:710px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12163 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u12164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:45px;
}
#u12164 {
  position:absolute;
  left:0px;
  top:19px;
  width:208px;
  height:44px;
}
#u12165 {
  position:absolute;
  left:2px;
  top:14px;
  width:204px;
  word-wrap:break-word;
}
#u12166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u12166 {
  position:absolute;
  left:822px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12167 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u12168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u12168 {
  position:absolute;
  left:935px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12169 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u12170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u12170 {
  position:absolute;
  left:1048px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12171 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u12172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u12172 {
  position:absolute;
  left:1204px;
  top:33px;
  width:141px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u12173 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u12174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:45px;
}
#u12174 {
  position:absolute;
  left:0px;
  top:82px;
  width:1366px;
  height:45px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u12175 {
  position:absolute;
  left:2px;
  top:14px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u12176 {
  position:absolute;
  left:865px;
  top:67px;
  width:27px;
  height:15px;
  font-size:18px;
  color:#FFFFFF;
}
#u12177 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u12178 {
  position:absolute;
  left:380px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12179 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u12180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u12180 {
  position:absolute;
  left:494px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12181 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u12182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:28px;
}
#u12182 {
  position:absolute;
  left:611px;
  top:90px;
  width:129px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12183 {
  position:absolute;
  left:2px;
  top:2px;
  width:125px;
  word-wrap:break-word;
}
#u12184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:28px;
}
#u12184 {
  position:absolute;
  left:756px;
  top:90px;
  width:128px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u12185 {
  position:absolute;
  left:2px;
  top:2px;
  width:124px;
  word-wrap:break-word;
}
#u12186_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:1328px;
  height:599px;
}
#u12186 {
  position:absolute;
  left:29px;
  top:150px;
  width:1318px;
  height:589px;
  color:#FFFFFF;
  text-align:left;
}
#u12187 {
  position:absolute;
  left:2px;
  top:286px;
  width:1314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u12188 {
  position:absolute;
  left:241px;
  top:187px;
  width:78px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u12189 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u12190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u12190 {
  position:absolute;
  left:146px;
  top:187px;
  width:85px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u12191 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u12192 {
  position:absolute;
  left:221px;
  top:234px;
  width:71px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u12193 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u12194 {
  position:absolute;
  left:146px;
  top:234px;
  width:57px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u12195 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:48px;
}
#u12196 {
  position:absolute;
  left:146px;
  top:325px;
  width:85px;
  height:48px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u12197 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  word-wrap:break-word;
}
#u12198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u12198 {
  position:absolute;
  left:245px;
  top:325px;
  width:60px;
  height:60px;
}
#u12199 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u12200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u12200 {
  position:absolute;
  left:506px;
  top:187px;
  width:85px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  text-decoration:underline;
}
#u12200_img.mouseOver {
}
#u12200.mouseOver {
}
#u12201 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u12202 {
  position:absolute;
  left:379px;
  top:187px;
  width:85px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u12203 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u12204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u12204 {
  position:absolute;
  left:739px;
  top:187px;
  width:57px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u12205 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u12206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u12206 {
  position:absolute;
  left:650px;
  top:187px;
  width:71px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u12207 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u12208 {
  position:absolute;
  left:944px;
  top:187px;
  width:43px;
  height:16px;
}
#u12209 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u12210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u12210 {
  position:absolute;
  left:863px;
  top:187px;
  width:71px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u12211 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u12212 {
  position:absolute;
  left:315px;
  top:325px;
  width:60px;
  height:60px;
}
#u12213 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u12214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u12214 {
  position:absolute;
  left:385px;
  top:325px;
  width:60px;
  height:60px;
}
#u12215 {
  position:absolute;
  left:2px;
  top:22px;
  width:56px;
  word-wrap:break-word;
}
#u12216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:24px;
}
#u12216 {
  position:absolute;
  left:298px;
  top:314px;
  width:10px;
  height:24px;
  font-size:20px;
}
#u12217 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u12218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:24px;
}
#u12218 {
  position:absolute;
  left:368px;
  top:314px;
  width:10px;
  height:24px;
  font-size:20px;
}
#u12219 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u12220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:24px;
}
#u12220 {
  position:absolute;
  left:441px;
  top:314px;
  width:10px;
  height:24px;
  font-size:20px;
}
#u12221 {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u12222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:2px;
}
#u12222 {
  position:absolute;
  left:146px;
  top:436px;
  width:1120px;
  height:1px;
}
#u12223 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:35px;
}
#u12224 {
  position:absolute;
  left:185px;
  top:668px;
  width:107px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u12224_img.mouseDown {
}
#u12224.mouseDown {
}
#u12224_img.disabled {
}
#u12224.disabled {
}
#u12225 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u12226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:35px;
}
#u12226 {
  position:absolute;
  left:338px;
  top:668px;
  width:107px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u12226_img.mouseDown {
}
#u12226.mouseDown {
}
#u12226_img.disabled {
}
#u12226.disabled {
}
#u12227 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u12228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u12228 {
  position:absolute;
  left:157px;
  top:459px;
  width:71px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u12229 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:2px;
}
#u12230 {
  position:absolute;
  left:146px;
  top:640px;
  width:1120px;
  height:1px;
}
#u12231 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
}
#u12232 {
  position:absolute;
  left:157px;
  top:503px;
  width:239px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u12233 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u12234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:16px;
}
#u12234 {
  position:absolute;
  left:157px;
  top:539px;
  width:379px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u12235 {
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  white-space:nowrap;
}
#u12236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:16px;
}
#u12236 {
  position:absolute;
  left:157px;
  top:601px;
  width:323px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u12237 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  white-space:nowrap;
}
#u12238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:35px;
}
#u12238 {
  position:absolute;
  left:461px;
  top:325px;
  width:78px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u12238_img.mouseDown {
}
#u12238.mouseDown {
}
#u12238_img.disabled {
}
#u12238.disabled {
}
#u12239 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u12240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u12240 {
  position:absolute;
  left:469px;
  top:234px;
  width:61px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u12241 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u12242_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u12242 {
  position:absolute;
  left:379px;
  top:234px;
  width:71px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u12243 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u12244 {
  position:fixed;
  left:50%;
  margin-left:-318px;
  top:50%;
  margin-top:-162px;
  visibility:hidden;
}
#u12244_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u12244_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12245_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:645px;
  height:334px;
}
#u12245 {
  position:absolute;
  left:1px;
  top:0px;
  width:635px;
  height:324px;
  color:#FFFFFF;
  text-align:left;
}
#u12246 {
  position:absolute;
  left:2px;
  top:154px;
  width:631px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
}
#u12247 {
  position:absolute;
  left:81px;
  top:72px;
  width:96px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u12248 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u12249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:35px;
}
#u12249 {
  position:absolute;
  left:186px;
  top:236px;
  width:253px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u12249_img.mouseDown {
}
#u12249.mouseDown {
}
#u12249_img.disabled {
}
#u12249.disabled {
}
#u12250 {
  position:absolute;
  left:2px;
  top:10px;
  width:249px;
  word-wrap:break-word;
}
#u12251_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:474px;
  height:52px;
}
#u12251 {
  position:absolute;
  left:81px;
  top:119px;
  width:464px;
  height:42px;
}
#u12251_img.selected {
}
#u12251.selected {
}
#u12251_img.disabled {
}
#u12251.disabled {
}
#u12252 {
  position:absolute;
  left:2px;
  top:13px;
  width:460px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12253 {
  position:absolute;
  left:91px;
  top:122px;
  width:442px;
  height:36px;
}
#u12253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:442px;
  height:36px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12253_input {
  color:#000000;
}
#u12253_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:448px;
  height:42px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u12254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:16px;
}
#u12254 {
  position:absolute;
  left:91px;
  top:179px;
  width:477px;
  height:16px;
}
#u12255 {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  white-space:nowrap;
}
#u12244_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u12244_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u12256_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:503px;
  height:245px;
}
#u12256 {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:235px;
  color:#FFFFFF;
  text-align:left;
}
#u12257 {
  position:absolute;
  left:2px;
  top:110px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
}
#u12258 {
  position:absolute;
  left:227px;
  top:75px;
  width:96px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
}
#u12259 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u12260_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u12260 {
  position:absolute;
  left:170px;
  top:65px;
  width:40px;
  height:40px;
}
#u12261 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:35px;
}
#u12262 {
  position:absolute;
  left:120px;
  top:156px;
  width:253px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u12262_img.mouseDown {
}
#u12262.mouseDown {
}
#u12262_img.disabled {
}
#u12262.disabled {
}
#u12263 {
  position:absolute;
  left:2px;
  top:10px;
  width:249px;
  word-wrap:break-word;
}
#u12264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:16px;
}
#u12264 {
  position:absolute;
  left:157px;
  top:571px;
  width:351px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u12265 {
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  white-space:nowrap;
}
