body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:82px;
}
#u13601 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:82px;
}
#u13602 {
  position:absolute;
  left:2px;
  top:33px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13603 {
  position:absolute;
  left:258px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13604 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13605 {
  position:absolute;
  left:371px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13606 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13607 {
  position:absolute;
  left:484px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13608 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13609 {
  position:absolute;
  left:597px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13610 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13611 {
  position:absolute;
  left:710px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13612 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:45px;
}
#u13613 {
  position:absolute;
  left:0px;
  top:19px;
  width:208px;
  height:44px;
}
#u13614 {
  position:absolute;
  left:2px;
  top:14px;
  width:204px;
  word-wrap:break-word;
}
#u13615_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13615 {
  position:absolute;
  left:822px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13616 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13617 {
  position:absolute;
  left:935px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13618 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13619 {
  position:absolute;
  left:1048px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13620 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u13621 {
  position:absolute;
  left:1204px;
  top:33px;
  width:141px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13622 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u13623_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u13623 {
  position:absolute;
  left:978px;
  top:67px;
  width:27px;
  height:15px;
  font-size:18px;
  color:#FFFFFF;
}
#u13624 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13625_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:45px;
}
#u13625 {
  position:absolute;
  left:0px;
  top:82px;
  width:1366px;
  height:45px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13626 {
  position:absolute;
  left:2px;
  top:14px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13627_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13627 {
  position:absolute;
  left:380px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13628 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13629_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13629 {
  position:absolute;
  left:494px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13630 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13631 {
  position:absolute;
  left:608px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13632 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u13633 {
  position:absolute;
  left:978px;
  top:67px;
  width:27px;
  height:15px;
  font-size:18px;
  color:#FFFFFF;
}
#u13634 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:114px;
}
#u13635 {
  position:absolute;
  left:-219px;
  top:356px;
  width:552px;
  height:114px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13636 {
  position:absolute;
  left:2px;
  top:49px;
  width:548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13637 {
  position:absolute;
  left:0px;
  top:158px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13638 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13639 {
  position:absolute;
  left:1px;
  top:198px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13640 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u13641_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:602px;
  height:617px;
}
#u13641 {
  position:absolute;
  left:133px;
  top:137px;
  width:592px;
  height:607px;
  color:#FFFFFF;
  text-align:left;
}
#u13642 {
  position:absolute;
  left:2px;
  top:296px;
  width:588px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13643_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:602px;
  height:64px;
}
#u13643 {
  position:absolute;
  left:133px;
  top:137px;
  width:592px;
  height:54px;
  color:#FFFFFF;
  text-align:left;
}
#u13644 {
  position:absolute;
  left:2px;
  top:19px;
  width:588px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13645_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:602px;
  height:617px;
}
#u13645 {
  position:absolute;
  left:744px;
  top:137px;
  width:592px;
  height:607px;
  color:#FFFFFF;
  text-align:left;
}
#u13646 {
  position:absolute;
  left:2px;
  top:296px;
  width:588px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13647_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:602px;
  height:64px;
}
#u13647 {
  position:absolute;
  left:744px;
  top:137px;
  width:592px;
  height:54px;
  color:#FFFFFF;
  text-align:left;
}
#u13648 {
  position:absolute;
  left:2px;
  top:19px;
  width:588px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u13649 {
  position:absolute;
  left:163px;
  top:154px;
  width:77px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13650 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u13651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u13651 {
  position:absolute;
  left:166px;
  top:319px;
  width:71px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u13652 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u13653 {
  position:absolute;
  left:774px;
  top:154px;
  width:77px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13654 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u13655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u13655 {
  position:absolute;
  left:166px;
  top:224px;
  width:99px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u13656 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13657 {
  position:absolute;
  left:166px;
  top:260px;
  width:530px;
  height:25px;
}
#u13657_input {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13657_input {
  color:#000000;
}
#u13657_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:536px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13658 {
  position:absolute;
  left:166px;
  top:351px;
  width:530px;
  height:176px;
}
#u13658_input {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:176px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13658_input {
  color:#000000;
}
#u13658_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:536px;
  height:182px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u13659 {
  position:absolute;
  left:361px;
  top:687px;
  width:136px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u13659_img.mouseDown {
}
#u13659.mouseDown {
}
#u13659_img.disabled {
}
#u13659.disabled {
}
#u13660 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u13661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u13661 {
  position:absolute;
  left:166px;
  top:548px;
  width:99px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u13662 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13663 {
  position:absolute;
  left:166px;
  top:584px;
  width:100px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u13664 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13663_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13665 {
  position:absolute;
  left:316px;
  top:584px;
  width:100px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u13666 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13665_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13667 {
  position:absolute;
  left:443px;
  top:584px;
  width:100px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u13668 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13667_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13669 {
  position:absolute;
  left:583px;
  top:584px;
  width:100px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u13670 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13669_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u13671 {
  position:absolute;
  left:775px;
  top:390px;
  width:71px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u13672 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:16px;
}
#u13673 {
  position:absolute;
  left:775px;
  top:224px;
  width:239px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u13674 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u13675 {
  position:absolute;
  left:775px;
  top:422px;
  width:530px;
  height:176px;
}
#u13675_input {
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:176px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13675_input {
  color:#000000;
}
#u13675_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:536px;
  height:182px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:36px;
}
#u13676 {
  position:absolute;
  left:970px;
  top:687px;
  width:136px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u13676_img.mouseDown {
}
#u13676.mouseDown {
}
#u13676_img.disabled {
}
#u13676.disabled {
}
#u13677 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u13678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u13678 {
  position:absolute;
  left:775px;
  top:619px;
  width:99px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u13679 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u13680 {
  position:absolute;
  left:775px;
  top:655px;
  width:100px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u13681 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13680_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13682 {
  position:absolute;
  left:925px;
  top:655px;
  width:100px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u13683 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13682_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13684 {
  position:absolute;
  left:1052px;
  top:655px;
  width:100px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u13685 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13684_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13686 {
  position:absolute;
  left:1192px;
  top:655px;
  width:100px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u13687 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u13686_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13688 {
  position:absolute;
  left:775px;
  top:260px;
  width:317px;
  height:101px;
}
#u13688_input {
  position:absolute;
  left:0px;
  top:0px;
  width:317px;
  height:101px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13688_input {
  color:#000000;
}
#u13688_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:323px;
  height:107px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u13689 {
  position:absolute;
  left:1150px;
  top:319px;
  width:110px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u13690 {
  position:absolute;
  left:16px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u13689_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u13691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u13691 {
  position:absolute;
  left:1150px;
  top:345px;
  width:71px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:rgba(107, 107, 107, 0.298039215686275);
}
#u13692 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u13693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13693 {
  position:absolute;
  left:836px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13694 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13695 {
  position:absolute;
  left:950px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13696 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13697 {
  position:absolute;
  left:722px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13698 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13699 {
  position:fixed;
  left:50%;
  margin-left:-247px;
  top:50%;
  margin-top:-117.5px;
  visibility:hidden;
}
#u13699_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u13699_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13700_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:503px;
  height:245px;
}
#u13700 {
  position:absolute;
  left:1px;
  top:0px;
  width:493px;
  height:235px;
  color:#FFFFFF;
  text-align:left;
}
#u13701 {
  position:absolute;
  left:2px;
  top:110px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
}
#u13702 {
  position:absolute;
  left:218px;
  top:39px;
  width:59px;
  height:32px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u13703 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u13704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:35px;
}
#u13704 {
  position:absolute;
  left:96px;
  top:169px;
  width:108px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u13704_img.mouseDown {
}
#u13704.mouseDown {
}
#u13704_img.disabled {
}
#u13704.disabled {
}
#u13705 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u13706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:16px;
}
#u13706 {
  position:absolute;
  left:110px;
  top:90px;
  width:276px;
  height:16px;
}
#u13707 {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  white-space:nowrap;
}
#u13708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:35px;
}
#u13708 {
  position:absolute;
  left:292px;
  top:169px;
  width:108px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u13708_img.mouseDown {
}
#u13708.mouseDown {
}
#u13708_img.disabled {
}
#u13708.disabled {
}
#u13709 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u13699_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u13699_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13710_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:645px;
  height:334px;
}
#u13710 {
  position:absolute;
  left:0px;
  top:0px;
  width:635px;
  height:324px;
  color:#FFFFFF;
  text-align:left;
}
#u13711 {
  position:absolute;
  left:2px;
  top:154px;
  width:631px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
}
#u13712 {
  position:absolute;
  left:293px;
  top:129px;
  width:96px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
}
#u13713 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u13714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u13714 {
  position:absolute;
  left:236px;
  top:119px;
  width:40px;
  height:40px;
}
#u13715 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:35px;
}
#u13716 {
  position:absolute;
  left:186px;
  top:210px;
  width:253px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u13716_img.mouseDown {
}
#u13716.mouseDown {
}
#u13716_img.disabled {
}
#u13716.disabled {
}
#u13717 {
  position:absolute;
  left:2px;
  top:10px;
  width:249px;
  word-wrap:break-word;
}
#u13718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u13718 {
  position:absolute;
  left:1141px;
  top:260px;
  width:106px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u13718_img.mouseDown {
}
#u13718.mouseDown {
}
#u13718_img.disabled {
}
#u13718.disabled {
}
#u13719 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u13720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u13720 {
  position:absolute;
  left:1141px;
  top:214px;
  width:106px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u13720_img.mouseDown {
}
#u13720.mouseDown {
}
#u13720_img.disabled {
}
#u13720.disabled {
}
#u13721 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
