body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:82px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u143 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:82px;
}
#u144 {
  position:absolute;
  left:2px;
  top:33px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_div {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u145 {
  position:absolute;
  left:34px;
  top:25px;
  width:291px;
  height:32px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u146 {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  white-space:nowrap;
}
#u147_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:82px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u147 {
  position:absolute;
  left:379px;
  top:0px;
  width:114px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u148 {
  position:absolute;
  left:2px;
  top:30px;
  width:110px;
  word-wrap:break-word;
}
#u149_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:82px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u149 {
  position:absolute;
  left:493px;
  top:0px;
  width:114px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u150 {
  position:absolute;
  left:2px;
  top:30px;
  width:110px;
  word-wrap:break-word;
}
#u151_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:82px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u151 {
  position:absolute;
  left:607px;
  top:0px;
  width:114px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u152 {
  position:absolute;
  left:2px;
  top:30px;
  width:110px;
  word-wrap:break-word;
}
#u153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:82px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u153 {
  position:absolute;
  left:721px;
  top:0px;
  width:114px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u154 {
  position:absolute;
  left:2px;
  top:30px;
  width:110px;
  word-wrap:break-word;
}
#u155_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:82px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u155 {
  position:absolute;
  left:835px;
  top:0px;
  width:114px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u156 {
  position:absolute;
  left:2px;
  top:30px;
  width:110px;
  word-wrap:break-word;
}
#u157_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:45px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u157 {
  position:absolute;
  left:0px;
  top:82px;
  width:1366px;
  height:45px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u158 {
  position:absolute;
  left:2px;
  top:14px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u159 {
  position:absolute;
  left:537px;
  top:67px;
  width:27px;
  height:15px;
  font-size:18px;
  color:#FFFFFF;
}
#u160 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u161 {
  position:absolute;
  left:380px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u162 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u163 {
  position:absolute;
  left:494px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u164 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
