body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1365px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:82px;
}
#u9382 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:82px;
}
#u9383 {
  position:absolute;
  left:2px;
  top:33px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9384_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u9384 {
  position:absolute;
  left:258px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9385 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u9386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u9386 {
  position:absolute;
  left:371px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9387 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u9388_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u9388 {
  position:absolute;
  left:484px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9389 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u9390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u9390 {
  position:absolute;
  left:597px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9391 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u9392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u9392 {
  position:absolute;
  left:710px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9393 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u9394_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:45px;
}
#u9394 {
  position:absolute;
  left:0px;
  top:19px;
  width:208px;
  height:44px;
}
#u9395 {
  position:absolute;
  left:2px;
  top:14px;
  width:204px;
  word-wrap:break-word;
}
#u9396_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u9396 {
  position:absolute;
  left:822px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9397 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u9398_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u9398 {
  position:absolute;
  left:935px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9399 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u9400_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u9400 {
  position:absolute;
  left:1048px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u9401 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u9402_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u9402 {
  position:absolute;
  left:1204px;
  top:33px;
  width:141px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u9403 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u9404_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:114px;
}
#u9404 {
  position:absolute;
  left:-220px;
  top:301px;
  width:552px;
  height:114px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u9405 {
  position:absolute;
  left:2px;
  top:49px;
  width:548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9406_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u9406 {
  position:absolute;
  left:-1px;
  top:103px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9407 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u9408_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u9408 {
  position:absolute;
  left:0px;
  top:143px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9409 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u9410_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u9410 {
  position:absolute;
  left:0px;
  top:184px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9411 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u9412_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u9412 {
  position:absolute;
  left:0px;
  top:264px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9413 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u9414_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u9414 {
  position:absolute;
  left:-1px;
  top:224px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9415 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u9416_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:1222px;
  height:511px;
}
#u9416 {
  position:absolute;
  left:123px;
  top:329px;
  width:1212px;
  height:501px;
  color:#FFFFFF;
  text-align:left;
}
#u9417 {
  position:absolute;
  left:2px;
  top:242px;
  width:1208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9418_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u9418 {
  position:absolute;
  left:190px;
  top:341px;
  width:77px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u9419 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u9420_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:1222px;
  height:64px;
}
#u9420 {
  position:absolute;
  left:123px;
  top:329px;
  width:1212px;
  height:54px;
  opacity:0.5;
  color:#FFFFFF;
  text-align:left;
}
#u9421 {
  position:absolute;
  left:2px;
  top:19px;
  width:1208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9422_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u9422 {
  position:absolute;
  left:234px;
  top:346px;
  width:77px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u9423 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u9424_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u9424 {
  position:absolute;
  left:1165px;
  top:346px;
  width:77px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u9425 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u9426_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u9426 {
  position:absolute;
  left:544px;
  top:346px;
  width:77px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u9427 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u9428_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
}
#u9428 {
  position:absolute;
  left:855px;
  top:346px;
  width:77px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u9429 {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u9430_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1213px;
  height:51px;
}
#u9430 {
  position:absolute;
  left:124px;
  top:383px;
  width:1212px;
  height:50px;
}
#u9430_img.mouseOver {
}
#u9430.mouseOver {
}
#u9431 {
  position:absolute;
  left:2px;
  top:17px;
  width:1208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9432_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1212px;
  height:50px;
}
#u9432 {
  position:absolute;
  left:124px;
  top:433px;
  width:1212px;
  height:50px;
}
#u9432_img.mouseOver {
}
#u9432.mouseOver {
}
#u9433 {
  position:absolute;
  left:2px;
  top:17px;
  width:1208px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9434_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u9434 {
  position:absolute;
  left:244px;
  top:400px;
  width:57px;
  height:16px;
}
#u9435 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9436_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u9436 {
  position:absolute;
  left:558px;
  top:400px;
  width:37px;
  height:16px;
}
#u9437 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9438_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:66px;
}
#u9438 {
  position:absolute;
  left:410px;
  top:505px;
  width:125px;
  height:56px;
}
#u9439 {
  position:absolute;
  left:10px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u9440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u9440 {
  position:absolute;
  left:877px;
  top:400px;
  width:23px;
  height:16px;
}
#u9441 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u9442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:93px;
}
#u9442 {
  position:absolute;
  left:611px;
  top:505px;
  width:125px;
  height:83px;
}
#u9443 {
  position:absolute;
  left:10px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u9444_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:93px;
}
#u9444 {
  position:absolute;
  left:822px;
  top:505px;
  width:125px;
  height:83px;
}
#u9445 {
  position:absolute;
  left:10px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u9446_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
}
#u9446 {
  position:absolute;
  left:1174px;
  top:400px;
  width:59px;
  height:16px;
}
#u9447 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u9448_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:93px;
}
#u9448 {
  position:absolute;
  left:1193px;
  top:483px;
  width:125px;
  height:83px;
}
#u9449 {
  position:absolute;
  left:10px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u9450_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:125px;
  height:56px;
}
#u9450 {
  position:absolute;
  left:244px;
  top:127px;
  width:115px;
  height:46px;
  color:#1E1E1E;
}
#u9451 {
  position:absolute;
  left:2px;
  top:15px;
  width:111px;
  word-wrap:break-word;
}
#u9452_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:274px;
  height:6px;
}
#u9452 {
  position:absolute;
  left:359px;
  top:150px;
  width:271px;
  height:3px;
}
#u9453 {
  position:absolute;
  left:2px;
  top:-6px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9454_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:125px;
  height:56px;
}
#u9454 {
  position:absolute;
  left:630px;
  top:129px;
  width:115px;
  height:46px;
  color:#1E1E1E;
}
#u9455 {
  position:absolute;
  left:2px;
  top:15px;
  width:111px;
  word-wrap:break-word;
}
#u9456_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:271px;
  height:6px;
}
#u9456 {
  position:absolute;
  left:745px;
  top:152px;
  width:268px;
  height:3px;
}
#u9457 {
  position:absolute;
  left:2px;
  top:-6px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9458_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:125px;
  height:56px;
}
#u9458 {
  position:absolute;
  left:1013px;
  top:129px;
  width:115px;
  height:46px;
  color:#1E1E1E;
}
#u9459 {
  position:absolute;
  left:2px;
  top:15px;
  width:111px;
  word-wrap:break-word;
}
#u9460_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u9460 {
  position:absolute;
  left:273px;
  top:202px;
  width:57px;
  height:16px;
}
#u9461 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:35px;
}
#u9462 {
  position:absolute;
  left:1017px;
  top:192px;
  width:107px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u9462_img.mouseDown {
}
#u9462.mouseDown {
}
#u9462_img.disabled {
}
#u9462.disabled {
}
#u9463 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u9464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:93px;
}
#u9464 {
  position:absolute;
  left:1204px;
  top:127px;
  width:125px;
  height:83px;
}
#u9465 {
  position:absolute;
  left:10px;
  top:10px;
  width:105px;
  word-wrap:break-word;
}
#u9466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u9466 {
  position:absolute;
  left:244px;
  top:450px;
  width:57px;
  height:16px;
}
#u9467 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:16px;
}
#u9468 {
  position:absolute;
  left:558px;
  top:450px;
  width:37px;
  height:16px;
}
#u9469 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u9470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
}
#u9470 {
  position:absolute;
  left:877px;
  top:450px;
  width:23px;
  height:16px;
}
#u9471 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u9472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
}
#u9472 {
  position:absolute;
  left:1174px;
  top:450px;
  width:59px;
  height:16px;
}
#u9473 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u9474 {
  position:fixed;
  left:50%;
  margin-left:-301.5px;
  top:50%;
  margin-top:-213.5px;
  visibility:hidden;
}
#u9474_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u9474_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9475_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:613px;
  height:437px;
}
#u9475 {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:427px;
  color:#FFFFFF;
  text-align:left;
}
#u9476 {
  position:absolute;
  left:2px;
  top:206px;
  width:599px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9477_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u9477 {
  position:absolute;
  left:103px;
  top:330px;
  width:153px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u9477_img.mouseDown {
}
#u9477.mouseDown {
}
#u9477_img.disabled {
}
#u9477.disabled {
}
#u9478 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u9479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:35px;
}
#u9479 {
  position:absolute;
  left:321px;
  top:330px;
  width:153px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u9479_img.mouseDown {
}
#u9479.mouseDown {
}
#u9479_img.disabled {
}
#u9479.disabled {
}
#u9480 {
  position:absolute;
  left:2px;
  top:10px;
  width:149px;
  word-wrap:break-word;
}
#u9481_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u9481 {
  position:absolute;
  left:67px;
  top:73px;
  width:71px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u9482 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u9483_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:273px;
  height:43px;
}
#u9483 {
  position:absolute;
  left:164px;
  top:65px;
  width:263px;
  height:33px;
}
#u9483_img.selected {
}
#u9483.selected {
}
#u9483_img.disabled {
}
#u9483.disabled {
}
#u9484 {
  position:absolute;
  left:2px;
  top:8px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9485 {
  position:absolute;
  left:170px;
  top:67px;
  width:251px;
  height:28px;
}
#u9485_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:28px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9485_input {
  color:#000000;
}
#u9485_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:257px;
  height:34px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u9486_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u9486 {
  position:absolute;
  left:67px;
  top:138px;
  width:29px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
}
#u9487 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9488_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:273px;
  height:139px;
}
#u9488 {
  position:absolute;
  left:164px;
  top:130px;
  width:263px;
  height:129px;
}
#u9488_img.selected {
}
#u9488.selected {
}
#u9488_img.disabled {
}
#u9488.disabled {
}
#u9489 {
  position:absolute;
  left:2px;
  top:56px;
  width:259px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9490 {
  position:absolute;
  left:170px;
  top:138px;
  width:251px;
  height:109px;
}
#u9490_input {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:109px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9490_input {
  color:#000000;
}
#u9490_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:257px;
  height:115px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u9491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  height:16px;
}
#u9491 {
  position:absolute;
  left:190px;
  top:288px;
  width:211px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u9492 {
  position:absolute;
  left:0px;
  top:0px;
  width:211px;
  white-space:nowrap;
}
#u9493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:35px;
}
#u9493 {
  position:absolute;
  left:634px;
  top:192px;
  width:107px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u9493_img.mouseDown {
}
#u9493.mouseDown {
}
#u9493_img.disabled {
}
#u9493.disabled {
}
#u9494 {
  position:absolute;
  left:2px;
  top:10px;
  width:103px;
  word-wrap:break-word;
}
#u9495_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:84px;
}
#u9495 {
  position:absolute;
  left:340px;
  top:212px;
  width:166px;
  height:74px;
}
#u9496 {
  position:absolute;
  left:10px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u9497_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u9497 {
  position:absolute;
  left:0px;
  top:302px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9498 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u9499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:84px;
}
#u9499 {
  position:absolute;
  left:579px;
  top:245px;
  width:166px;
  height:74px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u9500 {
  position:absolute;
  left:10px;
  top:10px;
  width:146px;
  word-wrap:break-word;
}
#u9501_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u9501 {
  position:absolute;
  left:0px;
  top:340px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u9502 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
