body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:82px;
}
#u13824 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:82px;
}
#u13825 {
  position:absolute;
  left:2px;
  top:33px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13826 {
  position:absolute;
  left:258px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13827 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13828 {
  position:absolute;
  left:371px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13829 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13830 {
  position:absolute;
  left:484px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13831 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13832 {
  position:absolute;
  left:597px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13833 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13834 {
  position:absolute;
  left:710px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13835 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:45px;
}
#u13836 {
  position:absolute;
  left:0px;
  top:19px;
  width:208px;
  height:44px;
}
#u13837 {
  position:absolute;
  left:2px;
  top:14px;
  width:204px;
  word-wrap:break-word;
}
#u13838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13838 {
  position:absolute;
  left:822px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13839 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13840 {
  position:absolute;
  left:935px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13841 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13842 {
  position:absolute;
  left:1048px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13843 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u13844 {
  position:absolute;
  left:1204px;
  top:33px;
  width:141px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13845 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u13846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:552px;
  height:114px;
}
#u13846 {
  position:absolute;
  left:-219px;
  top:356px;
  width:552px;
  height:114px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13847 {
  position:absolute;
  left:2px;
  top:49px;
  width:548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13848 {
  position:absolute;
  left:0px;
  top:158px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13849 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13850 {
  position:absolute;
  left:1px;
  top:198px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13851 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u13852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13852 {
  position:absolute;
  left:0px;
  top:236px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u13853 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  word-wrap:break-word;
}
#u13854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:553px;
}
#u13854 {
  position:absolute;
  left:131px;
  top:146px;
  width:1200px;
  height:553px;
}
#u13855 {
  position:absolute;
  left:2px;
  top:268px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u13856 {
  position:absolute;
  left:978px;
  top:67px;
  width:27px;
  height:15px;
  font-size:18px;
  color:#FFFFFF;
}
#u13857 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:45px;
}
#u13858 {
  position:absolute;
  left:0px;
  top:82px;
  width:1366px;
  height:45px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13859 {
  position:absolute;
  left:2px;
  top:14px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13860 {
  position:absolute;
  left:380px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13861 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13862 {
  position:absolute;
  left:494px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13863 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13864 {
  position:absolute;
  left:608px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13865 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u13866 {
  position:absolute;
  left:978px;
  top:67px;
  width:27px;
  height:15px;
  font-size:18px;
  color:#FFFFFF;
}
#u13867 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13868 {
  position:absolute;
  left:836px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13869 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13870 {
  position:absolute;
  left:950px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13871 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13872 {
  position:absolute;
  left:722px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13873 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:399px;
}
#u13874 {
  position:absolute;
  left:140px;
  top:221px;
  width:57px;
  height:399px;
}
#u13875 {
  position:absolute;
  left:2px;
  top:192px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
