body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:82px;
}
#u5264 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:82px;
}
#u5265 {
  position:absolute;
  left:2px;
  top:33px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5266_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u5266 {
  position:absolute;
  left:258px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5267 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u5268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u5268 {
  position:absolute;
  left:371px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5269 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u5270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u5270 {
  position:absolute;
  left:484px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5271 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u5272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u5272 {
  position:absolute;
  left:597px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5273 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u5274_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u5274 {
  position:absolute;
  left:710px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5275 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u5276_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:45px;
}
#u5276 {
  position:absolute;
  left:0px;
  top:19px;
  width:208px;
  height:44px;
}
#u5277 {
  position:absolute;
  left:2px;
  top:14px;
  width:204px;
  word-wrap:break-word;
}
#u5278_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u5278 {
  position:absolute;
  left:822px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5279 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u5280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u5280 {
  position:absolute;
  left:935px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5281 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u5282_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u5282 {
  position:absolute;
  left:1048px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u5283 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u5284_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u5284 {
  position:absolute;
  left:1204px;
  top:33px;
  width:141px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5285 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u5286_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:45px;
}
#u5286 {
  position:absolute;
  left:0px;
  top:82px;
  width:1366px;
  height:45px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u5287 {
  position:absolute;
  left:2px;
  top:14px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5288_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u5288 {
  position:absolute;
  left:380px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5289 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u5290_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u5290 {
  position:absolute;
  left:494px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5291 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u5292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u5292 {
  position:absolute;
  left:423px;
  top:67px;
  width:27px;
  height:15px;
  font-size:18px;
  color:#FFFFFF;
}
#u5293 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u5294 {
  position:absolute;
  left:608px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5295 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u5296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u5296 {
  position:absolute;
  left:722px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u5297 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u5298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1179px;
  height:732px;
}
#u5298 {
  position:absolute;
  left:64px;
  top:128px;
  width:1179px;
  height:732px;
}
#u5299 {
  position:absolute;
  left:2px;
  top:358px;
  width:1175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:69px;
}
#u5300 {
  position:absolute;
  left:240px;
  top:899px;
  width:182px;
  height:59px;
}
#u5301 {
  position:absolute;
  left:10px;
  top:10px;
  width:162px;
  word-wrap:break-word;
}
