body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1366px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:82px;
}
#u13920 {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:82px;
}
#u13921 {
  position:absolute;
  left:2px;
  top:33px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13922 {
  position:absolute;
  left:258px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13923 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13924 {
  position:absolute;
  left:371px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13925 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13926 {
  position:absolute;
  left:484px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13927 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13928 {
  position:absolute;
  left:597px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13929 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13930 {
  position:absolute;
  left:710px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13931 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:45px;
}
#u13932 {
  position:absolute;
  left:0px;
  top:19px;
  width:208px;
  height:44px;
}
#u13933 {
  position:absolute;
  left:2px;
  top:14px;
  width:204px;
  word-wrap:break-word;
}
#u13934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13934 {
  position:absolute;
  left:822px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13935 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13936 {
  position:absolute;
  left:935px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13937 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:82px;
}
#u13938 {
  position:absolute;
  left:1048px;
  top:0px;
  width:113px;
  height:82px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u13939 {
  position:absolute;
  left:2px;
  top:30px;
  width:109px;
  word-wrap:break-word;
}
#u13940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
}
#u13940 {
  position:absolute;
  left:1204px;
  top:33px;
  width:141px;
  height:16px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u13941 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u13942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u13942 {
  position:absolute;
  left:978px;
  top:67px;
  width:27px;
  height:15px;
  font-size:18px;
  color:#FFFFFF;
}
#u13943 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:45px;
}
#u13944 {
  position:absolute;
  left:0px;
  top:82px;
  width:1366px;
  height:45px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u13945 {
  position:absolute;
  left:2px;
  top:14px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13946 {
  position:absolute;
  left:380px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13947 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13948 {
  position:absolute;
  left:494px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13949 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13950 {
  position:absolute;
  left:608px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13951 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
}
#u13952 {
  position:absolute;
  left:978px;
  top:67px;
  width:27px;
  height:15px;
  font-size:18px;
  color:#FFFFFF;
}
#u13953 {
  position:absolute;
  left:2px;
  top:0px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13954 {
  position:absolute;
  left:836px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13955 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13956 {
  position:absolute;
  left:950px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13957 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:28px;
}
#u13958 {
  position:absolute;
  left:722px;
  top:90px;
  width:114px;
  height:28px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u13959 {
  position:absolute;
  left:2px;
  top:5px;
  width:110px;
  word-wrap:break-word;
}
#u13960_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:1313px;
  height:617px;
}
#u13960 {
  position:absolute;
  left:32px;
  top:183px;
  width:1303px;
  height:607px;
  color:#FFFFFF;
  text-align:left;
}
#u13961 {
  position:absolute;
  left:2px;
  top:296px;
  width:1299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13962_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:1313px;
  height:64px;
}
#u13962 {
  position:absolute;
  left:32px;
  top:183px;
  width:1303px;
  height:54px;
  color:#FFFFFF;
  text-align:left;
}
#u13963 {
  position:absolute;
  left:2px;
  top:19px;
  width:1299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13964 {
  position:absolute;
  left:912px;
  top:755px;
}
#u13964_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u13964_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13965 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u13966 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13967 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u13968 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13969 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u13970 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13971 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u13972 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13973 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u13974 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13975 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u13976 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13964_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u13964_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13977 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13978 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13979 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u13980 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13981 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u13982 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13983 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u13984 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13985 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u13986 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13987 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u13988 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13964_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u13964_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13989 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13990 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13991 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u13992 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13993 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u13994 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13995 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u13996 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13997 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u13998 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u13999 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u14000 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13964_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u13964_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14001 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14002 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14003 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u14004 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14005 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u14006 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14007 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u14008 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14009 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u14010 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14011 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u14012 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13964_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u13964_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14013 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14014 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14015 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u14016 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14017 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u14018 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14019 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u14020 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14021 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u14022 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14023 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
}
#u14024 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u13964_state5 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u13964_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14025 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14026 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14027 {
  position:absolute;
  left:30px;
  top:0px;
  width:20px;
  height:20px;
}
#u14028 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14029 {
  position:absolute;
  left:60px;
  top:0px;
  width:20px;
  height:20px;
}
#u14030 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14031 {
  position:absolute;
  left:90px;
  top:0px;
  width:20px;
  height:20px;
}
#u14032 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14033 {
  position:absolute;
  left:120px;
  top:0px;
  width:20px;
  height:20px;
}
#u14034 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14035 {
  position:absolute;
  left:150px;
  top:0px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u14036 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14037 {
  position:absolute;
  left:892px;
  top:754px;
  width:20px;
  height:20px;
}
#u14037_img.disabled {
}
#u14037.disabled {
}
#u14038 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u14039 {
  position:absolute;
  left:1092px;
  top:755px;
  width:20px;
  height:20px;
}
#u14039_img.disabled {
}
#u14039.disabled {
}
#u14040 {
  position:absolute;
  left:0px;
  top:2px;
  width:20px;
  word-wrap:break-word;
}
#u14041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:51px;
}
#u14041 {
  position:absolute;
  left:32px;
  top:237px;
  width:1303px;
  height:50px;
}
#u14041_img.mouseOver {
}
#u14041.mouseOver {
}
#u14042 {
  position:absolute;
  left:2px;
  top:17px;
  width:1299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1303px;
  height:50px;
}
#u14043 {
  position:absolute;
  left:32px;
  top:287px;
  width:1303px;
  height:50px;
}
#u14043_img.mouseOver {
}
#u14043.mouseOver {
}
#u14044 {
  position:absolute;
  left:2px;
  top:17px;
  width:1299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:51px;
}
#u14045 {
  position:absolute;
  left:32px;
  top:337px;
  width:1303px;
  height:50px;
}
#u14045_img.mouseOver {
}
#u14045.mouseOver {
}
#u14046 {
  position:absolute;
  left:2px;
  top:17px;
  width:1299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1303px;
  height:50px;
}
#u14047 {
  position:absolute;
  left:32px;
  top:387px;
  width:1303px;
  height:50px;
}
#u14047_img.mouseOver {
}
#u14047.mouseOver {
}
#u14048 {
  position:absolute;
  left:2px;
  top:17px;
  width:1299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:51px;
}
#u14049 {
  position:absolute;
  left:32px;
  top:437px;
  width:1303px;
  height:50px;
}
#u14049_img.mouseOver {
}
#u14049.mouseOver {
}
#u14050 {
  position:absolute;
  left:2px;
  top:17px;
  width:1299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1303px;
  height:50px;
}
#u14051 {
  position:absolute;
  left:32px;
  top:487px;
  width:1303px;
  height:50px;
}
#u14051_img.mouseOver {
}
#u14051.mouseOver {
}
#u14052 {
  position:absolute;
  left:2px;
  top:17px;
  width:1299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:51px;
}
#u14053 {
  position:absolute;
  left:32px;
  top:537px;
  width:1303px;
  height:50px;
}
#u14053_img.mouseOver {
}
#u14053.mouseOver {
}
#u14054 {
  position:absolute;
  left:2px;
  top:17px;
  width:1299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1303px;
  height:50px;
}
#u14055 {
  position:absolute;
  left:32px;
  top:587px;
  width:1303px;
  height:50px;
}
#u14055_img.mouseOver {
}
#u14055.mouseOver {
}
#u14056 {
  position:absolute;
  left:2px;
  top:17px;
  width:1299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1304px;
  height:51px;
}
#u14057 {
  position:absolute;
  left:32px;
  top:637px;
  width:1303px;
  height:50px;
}
#u14057_img.mouseOver {
}
#u14057.mouseOver {
}
#u14058 {
  position:absolute;
  left:2px;
  top:17px;
  width:1299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1303px;
  height:50px;
}
#u14059 {
  position:absolute;
  left:32px;
  top:687px;
  width:1303px;
  height:50px;
}
#u14059_img.mouseOver {
}
#u14059.mouseOver {
}
#u14060 {
  position:absolute;
  left:2px;
  top:17px;
  width:1299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
}
#u14061 {
  position:absolute;
  left:282px;
  top:202px;
  width:39px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u14062 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u14063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
}
#u14063 {
  position:absolute;
  left:843px;
  top:202px;
  width:39px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u14064 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u14065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
}
#u14065 {
  position:absolute;
  left:69px;
  top:202px;
  width:39px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u14066 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u14067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:21px;
}
#u14067 {
  position:absolute;
  left:1214px;
  top:200px;
  width:39px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u14068 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u14069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u14069 {
  position:absolute;
  left:85px;
  top:254px;
  width:9px;
  height:16px;
  text-align:center;
}
#u14070 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u14071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u14071 {
  position:absolute;
  left:254px;
  top:254px;
  width:99px;
  height:16px;
  text-align:center;
}
#u14072 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u14073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:32px;
}
#u14073 {
  position:absolute;
  left:631px;
  top:246px;
  width:464px;
  height:32px;
  text-align:center;
}
#u14074 {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  word-wrap:break-word;
}
#u14075 {
  position:absolute;
  left:1136px;
  top:250px;
  width:50px;
  height:25px;
}
#u14075_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u14075_input {
  color:#333333;
}
#u14075_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:56px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14076 {
  position:absolute;
  left:1202px;
  top:250px;
  width:50px;
  height:25px;
}
#u14076_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u14076_input {
  color:#333333;
}
#u14076_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:56px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:36px;
}
#u14077 {
  position:absolute;
  left:1222px;
  top:137px;
  width:106px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u14077_img.mouseDown {
}
#u14077.mouseDown {
}
#u14077_img.disabled {
}
#u14077.disabled {
}
#u14078 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u14079 {
  position:absolute;
  left:1268px;
  top:250px;
  width:63px;
  height:25px;
}
#u14079_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u14079_input {
  color:#333333;
}
#u14079_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14080 {
  position:fixed;
  left:50%;
  margin-left:-318px;
  top:50%;
  margin-top:-176.5px;
  visibility:hidden;
}
#u14080_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u14080_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14081_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:645px;
  height:363px;
}
#u14081 {
  position:absolute;
  left:1px;
  top:0px;
  width:635px;
  height:353px;
  color:#FFFFFF;
  text-align:left;
}
#u14082 {
  position:absolute;
  left:2px;
  top:168px;
  width:631px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u14083 {
  position:absolute;
  left:81px;
  top:72px;
  width:55px;
  height:21px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u14084 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14085 {
  position:absolute;
  left:139px;
  top:70px;
  width:397px;
  height:25px;
}
#u14085_input {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14085_input {
  color:#000000;
}
#u14085_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:403px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u14086 {
  position:absolute;
  left:81px;
  top:29px;
  width:55px;
  height:21px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u14087 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u14088 {
  position:absolute;
  left:142px;
  top:32px;
  width:9px;
  height:16px;
}
#u14089 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u14090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u14090 {
  position:absolute;
  left:81px;
  top:112px;
  width:55px;
  height:21px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u14091 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14092 {
  position:absolute;
  left:139px;
  top:112px;
  width:397px;
  height:170px;
}
#u14092_input {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14092_input {
  color:#000000;
}
#u14092_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:403px;
  height:176px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:35px;
}
#u14093 {
  position:absolute;
  left:147px;
  top:301px;
  width:138px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u14093_img.mouseDown {
}
#u14093.mouseDown {
}
#u14093_img.disabled {
}
#u14093.disabled {
}
#u14094 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u14095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:35px;
}
#u14095 {
  position:absolute;
  left:390px;
  top:301px;
  width:138px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u14095_img.mouseDown {
}
#u14095.mouseDown {
}
#u14095_img.disabled {
}
#u14095.disabled {
}
#u14096 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u14080_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u14080_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14097_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:503px;
  height:245px;
}
#u14097 {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:235px;
  color:#FFFFFF;
  text-align:left;
}
#u14098 {
  position:absolute;
  left:2px;
  top:110px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
}
#u14099 {
  position:absolute;
  left:227px;
  top:75px;
  width:96px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
}
#u14100 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u14101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u14101 {
  position:absolute;
  left:170px;
  top:65px;
  width:40px;
  height:40px;
}
#u14102 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:35px;
}
#u14103 {
  position:absolute;
  left:120px;
  top:156px;
  width:253px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u14103_img.mouseDown {
}
#u14103.mouseDown {
}
#u14103_img.disabled {
}
#u14103.disabled {
}
#u14104 {
  position:absolute;
  left:2px;
  top:10px;
  width:249px;
  word-wrap:break-word;
}
#u14105 {
  position:fixed;
  left:50%;
  margin-left:-318px;
  top:50%;
  margin-top:-176.5px;
  visibility:hidden;
}
#u14105_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u14105_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14106_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:645px;
  height:363px;
}
#u14106 {
  position:absolute;
  left:1px;
  top:0px;
  width:635px;
  height:353px;
  color:#FFFFFF;
  text-align:left;
}
#u14107 {
  position:absolute;
  left:2px;
  top:168px;
  width:631px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u14108 {
  position:absolute;
  left:81px;
  top:72px;
  width:55px;
  height:21px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u14109 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14110 {
  position:absolute;
  left:139px;
  top:70px;
  width:397px;
  height:25px;
}
#u14110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14110_input {
  color:#000000;
}
#u14110_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:403px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u14111 {
  position:absolute;
  left:81px;
  top:29px;
  width:55px;
  height:21px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u14112 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u14113 {
  position:absolute;
  left:142px;
  top:32px;
  width:9px;
  height:16px;
}
#u14114 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u14115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u14115 {
  position:absolute;
  left:81px;
  top:112px;
  width:55px;
  height:21px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u14116 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14117 {
  position:absolute;
  left:139px;
  top:112px;
  width:397px;
  height:170px;
}
#u14117_input {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14117_input {
  color:#000000;
}
#u14117_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:403px;
  height:176px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:35px;
}
#u14118 {
  position:absolute;
  left:147px;
  top:301px;
  width:138px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u14118_img.mouseDown {
}
#u14118.mouseDown {
}
#u14118_img.disabled {
}
#u14118.disabled {
}
#u14119 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u14120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:35px;
}
#u14120 {
  position:absolute;
  left:390px;
  top:301px;
  width:138px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u14120_img.mouseDown {
}
#u14120.mouseDown {
}
#u14120_img.disabled {
}
#u14120.disabled {
}
#u14121 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u14105_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u14105_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14122_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:503px;
  height:245px;
}
#u14122 {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:235px;
  color:#FFFFFF;
  text-align:left;
}
#u14123 {
  position:absolute;
  left:2px;
  top:110px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
}
#u14124 {
  position:absolute;
  left:227px;
  top:75px;
  width:96px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
}
#u14125 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u14126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u14126 {
  position:absolute;
  left:170px;
  top:65px;
  width:40px;
  height:40px;
}
#u14127 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:35px;
}
#u14128 {
  position:absolute;
  left:120px;
  top:156px;
  width:253px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u14128_img.mouseDown {
}
#u14128.mouseDown {
}
#u14128_img.disabled {
}
#u14128.disabled {
}
#u14129 {
  position:absolute;
  left:2px;
  top:10px;
  width:249px;
  word-wrap:break-word;
}
#u14130 {
  position:fixed;
  left:50%;
  margin-left:-232px;
  top:50%;
  margin-top:-112px;
  visibility:hidden;
}
#u14130_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u14130_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14131_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:473px;
  height:234px;
}
#u14131 {
  position:absolute;
  left:1px;
  top:0px;
  width:463px;
  height:224px;
  color:#FFFFFF;
  text-align:left;
}
#u14132 {
  position:absolute;
  left:2px;
  top:104px;
  width:459px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:32px;
}
#u14133 {
  position:absolute;
  left:203px;
  top:39px;
  width:59px;
  height:32px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u14134 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u14135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:35px;
}
#u14135 {
  position:absolute;
  left:42px;
  top:160px;
  width:138px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u14135_img.mouseDown {
}
#u14135.mouseDown {
}
#u14135_img.disabled {
}
#u14135.disabled {
}
#u14136 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u14137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:35px;
}
#u14137 {
  position:absolute;
  left:285px;
  top:160px;
  width:138px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u14137_img.mouseDown {
}
#u14137.mouseDown {
}
#u14137_img.disabled {
}
#u14137.disabled {
}
#u14138 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u14139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:22px;
}
#u14139 {
  position:absolute;
  left:160px;
  top:91px;
  width:145px;
  height:22px;
  font-size:18px;
}
#u14140 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u14130_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u14130_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14141_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:503px;
  height:245px;
}
#u14141 {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:235px;
  color:#FFFFFF;
  text-align:left;
}
#u14142 {
  position:absolute;
  left:2px;
  top:110px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
}
#u14143 {
  position:absolute;
  left:227px;
  top:75px;
  width:96px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
}
#u14144 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u14145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u14145 {
  position:absolute;
  left:170px;
  top:65px;
  width:40px;
  height:40px;
}
#u14146 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:35px;
}
#u14147 {
  position:absolute;
  left:120px;
  top:156px;
  width:253px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u14147_img.mouseDown {
}
#u14147.mouseDown {
}
#u14147_img.disabled {
}
#u14147.disabled {
}
#u14148 {
  position:absolute;
  left:2px;
  top:10px;
  width:249px;
  word-wrap:break-word;
}
#u14149 {
  position:fixed;
  left:50%;
  margin-left:-318px;
  top:50%;
  margin-top:-176.5px;
  visibility:hidden;
}
#u14149_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u14149_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14150_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:645px;
  height:363px;
}
#u14150 {
  position:absolute;
  left:1px;
  top:0px;
  width:635px;
  height:353px;
  color:#FFFFFF;
  text-align:left;
}
#u14151 {
  position:absolute;
  left:2px;
  top:168px;
  width:631px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u14152 {
  position:absolute;
  left:81px;
  top:72px;
  width:55px;
  height:21px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u14153 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14154 {
  position:absolute;
  left:139px;
  top:70px;
  width:397px;
  height:25px;
}
#u14154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14154_input {
  color:#000000;
}
#u14154_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:403px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u14155 {
  position:absolute;
  left:81px;
  top:29px;
  width:55px;
  height:21px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u14156 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:21px;
}
#u14157 {
  position:absolute;
  left:81px;
  top:112px;
  width:55px;
  height:21px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u14158 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u14159 {
  position:absolute;
  left:139px;
  top:112px;
  width:397px;
  height:170px;
}
#u14159_input {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:170px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14159_input {
  color:#000000;
}
#u14159_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:403px;
  height:176px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:35px;
}
#u14160 {
  position:absolute;
  left:147px;
  top:301px;
  width:138px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u14160_img.mouseDown {
}
#u14160.mouseDown {
}
#u14160_img.disabled {
}
#u14160.disabled {
}
#u14161 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u14162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:35px;
}
#u14162 {
  position:absolute;
  left:390px;
  top:301px;
  width:138px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u14162_img.mouseDown {
}
#u14162.mouseDown {
}
#u14162_img.disabled {
}
#u14162.disabled {
}
#u14163 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u14164 {
  position:absolute;
  left:139px;
  top:27px;
  width:41px;
  height:25px;
}
#u14164_input {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14164_input {
  color:#000000;
}
#u14164_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:47px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14149_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u14149_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14165_img {
  position:absolute;
  left:-5px;
  top:-5px;
  width:503px;
  height:245px;
}
#u14165 {
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:235px;
  color:#FFFFFF;
  text-align:left;
}
#u14166 {
  position:absolute;
  left:2px;
  top:110px;
  width:489px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
}
#u14167 {
  position:absolute;
  left:227px;
  top:75px;
  width:96px;
  height:21px;
  font-family:'宋体 Bold', '宋体';
  font-weight:700;
  font-style:normal;
}
#u14168 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u14169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u14169 {
  position:absolute;
  left:170px;
  top:65px;
  width:40px;
  height:40px;
}
#u14170 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:35px;
}
#u14171 {
  position:absolute;
  left:120px;
  top:156px;
  width:253px;
  height:35px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#F2F2F2;
}
#u14171_img.mouseDown {
}
#u14171.mouseDown {
}
#u14171_img.disabled {
}
#u14171.disabled {
}
#u14172 {
  position:absolute;
  left:2px;
  top:10px;
  width:249px;
  word-wrap:break-word;
}
#u14173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
}
#u14173 {
  position:absolute;
  left:85px;
  top:304px;
  width:9px;
  height:16px;
  text-align:center;
}
#u14174 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u14175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u14175 {
  position:absolute;
  left:254px;
  top:304px;
  width:99px;
  height:16px;
  text-align:center;
}
#u14176 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u14177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  height:32px;
}
#u14177 {
  position:absolute;
  left:631px;
  top:296px;
  width:464px;
  height:32px;
  text-align:center;
}
#u14178 {
  position:absolute;
  left:0px;
  top:0px;
  width:464px;
  word-wrap:break-word;
}
#u14179 {
  position:absolute;
  left:1136px;
  top:300px;
  width:50px;
  height:25px;
}
#u14179_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u14179_input {
  color:#333333;
}
#u14179_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:56px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14180 {
  position:absolute;
  left:1202px;
  top:300px;
  width:50px;
  height:25px;
}
#u14180_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u14180_input {
  color:#333333;
}
#u14180_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:56px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14181 {
  position:absolute;
  left:1268px;
  top:300px;
  width:63px;
  height:25px;
}
#u14181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:25px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u14181_input {
  color:#333333;
}
#u14181_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:69px;
  height:31px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
